@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #e7eced;
}

/* Start navbar */
.navbar {
    background-color: #00befb;
}

.navbar img {
    width: 12rem;
}

/* end navbar */
/* start heading */

#heading {
    background-color: #00befb;
}

/* end heading */
/* start header */

.person {
    height: 15vh;
    border-radius: 1rem;
}

.img img {
    float: left;
    width: 5rem;
    height: 10vh;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

.h1-p h4{
    padding-top: 1.5rem;
    float: right;
    margin-right: 2rem;
}

.h1-p p {
    float: right;
    margin-right: 2rem;
}

.ingred {
    border-radius: 1rem;
    height: 30vh;
}

.setting-acount {
    height: 50vh;
    border-radius: 1rem;
    margin-top: 3rem;
}

hr {
    color: black;
    border: 1px solid rgb(107, 107, 107);
}

.in-div .form-control{
    border: 0.1rem solid black;
}
