@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #00befb;
}

/* Start navbar */
.navbar-brand img {
    width: 10rem;
    height: 8vh;
}


.btn {
    border-radius: 2rem;
}

/* end navbar */
/* start of header */

.welcome {
    margin-top: 5rem;
}

.btn {
    border-radius: 0.2rem;
    font-size: 1.5rem;
}